body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3E5AB;
}

.wrapper {
  max-width: 1300px;
  height: 3000px;
  margin: 0 auto;

  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: rgb(254, 255, 219);
}

hr {
  height: 3px;
  border-width: 0;
  background-color: #F3E5AB;
}

header {
  border-bottom: 1px solid #F3E5AB;

  .logo {
    p {
      max-width: 140px;
      margin: auto 5px 0;
    }
  }

  img {
    padding-right: 4px;
    border-right: 3px solid black;
  }

  ul {
    li {
      list-style-type: none;
      margin: 0 10px;

      font-size: 20px;
    }
  }
}

.about {
  h2 {
    margin: 0 30px 0;
    font-size: 28px;
  }

  p {
    font-size: 20px;
    margin-right: 30px;
  }
}

.ware {
  h2 {
    margin: 0 30px;
    font-size: 28px;
  }

  .cards {
    padding: 0 20px;
    flex-wrap: wrap;
    flex-direction: row;

    .card {
      margin: 20px;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);

      p {
        max-width: inherit;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}